<div class="app-flower-list-container">
  <div class="app-flower-list-nav">
    <button (click)="fetchFlowersByColor()">all photos</button>
    <div class="app-flower-list-nav-red">
      <button (click)="fetchFlowersByColor(0)">red photos</button>
    </div>
    <div class="app-flower-list-nav-green">
      <button (click)="fetchFlowersByColor(5)">green photos</button>
    </div>
    <div class="app-flower-list-nav-blue">
      <button (click)="fetchFlowersByColor(8)">blue photos</button>
    </div>
  </div>

  <div class="app-flower-list-loading" *ngIf="isLoading">
    <h3>Loading flowers photos...</h3>
  </div>

  <div class="app-flower-list-error" *ngIf="error">
    <h3>{{ error }}</h3>
  </div>

  <p class="app-flower-list-total">Total photos: {{ totalPhotosNumber }}</p>

  <div class="app-flower-list-photos-container" *ngIf="!isLoading && !error">
    <div class="app-flower-list-photos" *ngIf="!isLoading && !error">
      <img *ngFor="let photo of flowersPhotos" [src]="photo.url"><br><br>
    </div>

    <div class="app-flower-list-footer">
      <button (click)="loadMoreFlowers()">More Flowers</button>
    </div>
  </div>
</div>
